*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(243,243,243);
}
html,body{
 overflow-x: hidden; 
}
.main{
  width: 1200px;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
@media(max-width:1200px){
  .main{
      width: 100%;
  }
}
.navbar{
  position: relative;
  background-color: rgba(28,29,37,255);
  display:flex;
  height: 80px;
  justify-content:space-between;
  align-items: center;
  color: white;
  
  animation: navDown 1s;
}
@keyframes navDown {
  from {
      height: 0px;
  }
  to {
      height: 80px;
  }
}
.navbar ul{
  list-style-type: none;
  margin-right: 25px;
  
}
.navbar ul li{
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  
}
.navbar li::after{
  content:'';
  height: 3px;
  display: block;
  background: rgb(185, 185, 185);
  width: 0%;
  transition: 0.5s;
  opacity: 0;
  margin: auto;
}

.navbar li:hover::after{
  width: 100%;
  opacity: 1;
}
.navbar ul li a{
  color: rgb(185, 185, 185);
  text-decoration: none;
  font-size: 16px;
  font-family: 'League Spartan',sans-serif;
  font-weight: 300;
  padding: 3px;
}
.home{
  position: relative;
  height: calc(100vh - 80px);
  background-color: rgba(28,29,37,255);
}
.mainn .layer {
  position: absolute;
  z-index: 10;
  height: 2vh;
  min-height: 24px;
}
.mainn{
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgba(28,29,37,255);
}
.a{
  left: 10vw;
  top: 75vh;
}
.b{
  top: 88vh;
  left: 50vw;
  display: none;
}
.c{
  top: 10vh;
  left: 70vw;
}
.d{
  top: -5vh;
  left: 15vw;
}
.e{
  left: 94vw;
}
.f{
  top: -3vh;
  left: -3vw;
}
.g{
  top: 94vh;
  left: 50vw;
}
.j{
  top: 30vh;
  left: 50vw;
}
.h{
  top: 10vh;
  left: 30vw;
}
.i{
  top: 40vh;
  left: -5vw;
}
.j{
  top: 0vh;
  left: 40vw;
}
.k{
  top: 75vh;
  left: 75vw;
}
.l{
  top: 45vh;
  left: 86vw;
}
.textAppear h3{
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
}
.flex h2, .flex h3{
  color: white;
}
.bigLogo{
  display: flex;
  width: fit-content;
}

.bigLogo h1{
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(45deg, rgba(36,46,98,255),rgba(30,72,120,255) );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.bigLogo .big{
  font-size: 500px;
}
@media(max-width:1600px) {
  .bigLogo .big{
      font-size: 300px;
  }
}
@media(max-width:400px) {
  .bigLogo .big{
      font-size: 180px;
  }
}
.wLogo{
  position: relative;
  top: 5px;
  height: 50px;

}
@media(max-width:1250px){
  .wLogo{
    left: 20px;
  }
}
.bigLogo .small{
  font-size: 60px;
  background-image: linear-gradient(white,white);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
@media(max-width:1250px){
  .bigLogo .small{
      position: relative;
      left: 5vw;
  }
}
.bigLogo .tran{
  margin-left: -12%;
  margin-top: 5%;
  transform: rotate(12deg)
}
.links li{
  font-family: 'League Spartan', sans-serif;
}
.home .center{
  position: absolute;
  height: 225px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.center img{
  height: 400px;
}
@media(max-width:1500px){
  .home .center{
    top: 45%;
  }
  .center img{
    height: 225px;
  }
}
.iconsFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  height: 100px;
  right: 1%;
  transform: translateY(-50%);
}
.iconsFlex i{
  color: rgb(156, 156, 156);
  font-size: 40px;
}
.iconsFlex i:hover{
  color: whitesmoke;
  transition: 0.5s;
}
@media(max-width:1300px){
  .iconsFlex{
    display: none;
  }
}
@media(max-width:1500px){
  .iconsFlex i{
    font-size:30px;
  }
  .iconsFlex{
    height: 80px;
  }
}
.flex{
  display: inline-flex;
  flex-direction: column;
  height: 225px;
  margin-left: 7%;
  position: relative;
  top: calc(45% + 35px);
  z-index: 15;;
  transform: translateY(-50%);
}
.text {
  opacity: 0;
  animation: fade-in 0.01s linear 0.7s forwards;
}

.textAppear {
  position: relative;
  width: fit-content;
}

.textAppear::after{
  display: block;
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: white;
  width: 0%;
  animation: anima 0.7s ease-out 0.7s forwards;
}
.textAppear h3{
  margin-top: 13px;
  margin-bottom: 13px;
}
.later::after{
  animation-delay:1.5s ;
}
.laterr::after{
  background-color: tomato;
  animation-delay:2.5s ;
}
.tLater{
  font-family: 'League Spartan', sans-serif;
  font-size: 60px;
  font-weight: 300;
  animation-delay:1.1s ;
}
@media(max-width:900px) {
  .tLater{
      font-size:47px;
  }
}
@media(max-width:700px) {
  .tLater{
      font-size:40px;
  }
}
@media(max-width:450px) {
  .tLater{
      font-size:25px;
  }
}
.home .buton{
  cursor: pointer;
  background-image: linear-gradient(45deg,rgb(239,56,55),rgb(240,100,73));
  color: white;
  width: fit-content;
  box-shadow: 0 0 3px tomato;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 12px;
  text-align: center;
  width: 145px;
  font-weight: 300;
  margin-top: 20px;
  opacity:0;
  animation: fade-in 0.01s linear 2.3s forwards;
}

.tLaterr{
  font-family: 'League Spartan',serif;
  animation-delay:2s ;
}
@keyframes anima {
  0% {
      width: 0%;
  }
  50%{
      left: 0%;
      width: 100%;
  }
  100%{
      left: 100%;
      width: 0%;
  }
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*-------------------------------------*/

/*------------------------------------*/
.about-contact{
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: center;
  z-index: 110;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media(max-width:1100px){
  .about-contact{
      flex-direction: column;
  }
}
.navbar i{
  display: none;
}
.about-me{
  width: 610px;
  height: 610px;
  background-color: #ebebeb;
}
@media(max-width:1100px){
  .about-me{
      width: 100vw;
      position: relative;

  }
  .about-you{
      width: 100vw;
      position: relative;
      
  }
  .about-contact{
      top: 0%;
      left: 0%;
      transform: translate(0%,0%);
  }
}
@media(max-width:550px){
  .about-me{
      height: auto;
  }
}
.me{
  animation: goUp 0.5s ease-out;
}
.meme{
  animation:goBackDown 0.5s;
}
.about-header, .about-text ,.about-flex{
  margin-left: 50px;
  margin-right: 50px;
  color: black;
}
.about-header{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 600;
  font-family: 'League Spartan';
}
span.red{
  font-weight: 600;
  color:rgb(199, 75, 18);
}
.about-text{
  text-align: justify;
  text-align-last: left;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.about-item{
  position: relative;
  top: 25px;
}
.about-flex{
  display: flex;
  justify-content: space-between;
}

.about-flex img{
  position: relative;
  width: 50px;
  left: 50%;
  transform: translate(-50%);
}
.about-flex ul{
  text-align: center;
  list-style-type: none;
}
.list-header{
  font-weight: bolder;
}
.about-you{
  width: 610px;
  height: 610px;
  background-color: #1c1d25;
}
@media(max-width:1100px){
  .about-you{
      width: 100vw;
  }
}
.you{
  animation: goDown 0.5s;
}
.youyou{
  animation: goBackUp 0.5s;
}
.about-you p{
  margin-left: 14%;
  font-size: 12px;
}
.about-you form{
  position: relative;
  top: 100px;
}
.about-you .ytext{
  position: relative;
  font-size: 25px;
  left: 14%;
  top: 50px;
}
.about-you .ytext, .about-you p{
  font-family: 'League Spartan';
  color: white;
}
.about-you input{
  width: 70%;
  margin-left: 14%;
  height: 30px;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}
.about-you textarea{
  width: 70%;
  color: white;
  font-size: 16px;
  background-color: inherit;
  margin-left: 14%;
  outline: none;
  border: none;
  border-bottom: 3px solid #ccc;
}
.about-you i{
  color: white;
  font-size: 45px;
  position: relative;
  left: 78%;
  font-weight: 100;
  padding: 5px;
  cursor: pointer;
}
.about-you button:hover{
  background-image: linear-gradient(45deg,rgb(239,56,55),rgb(240,100,73));
  transition: background-image 0.5s ease-in-out;
}
.about-you button{
  cursor: pointer;
  display: block;
  font-size: 15px;
  box-shadow: 0 0 4px tomato;
  color: white;
  height: 45px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 14%;
  border: none;
  outline: none;
  padding: 15px;
  width: 170px;
  font-family: 'League Spartan';
  background-image: linear-gradient(45deg,rgb(239,56,55),rgb(240,100,73));
}
#butoni{
  display: none;
}
@keyframes goUp {
  0%{
      transform: translateY(610px);
  }
  100%{
      transform: translateY(0px);
  }
}
@keyframes goDown {
  0%{
      transform: translateY(-610px);
  }
  100%{
      transform: translateY(0px);
  }
}
@keyframes goBackUp {
  0%{
      transform: translateY(0px);
      opacity: 1;
  }
  100%{
      transform: translateY(-610px);
      opacity: 0;
  }
}
@keyframes goBackDown {
  0%{
      transform: translateY(0px);
      opacity: 1;
  }
  100%{
      transform: translateY(610px);
      opacity: 0;
  }
}
.goL{
  animation: goLeft 1s;
}
.goR{
  animation: goRight 1s;
}
@keyframes goLeft {
  from{
      transform: translateX(-100%);
  }
  to{
      transform: translateX(0%);
  }
}
@keyframes goRight{
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(-100%);
  }
}
@media(max-width:700px){
  .navbar ul{
      background-image: linear-gradient(90deg,#111d3f,#2257a0);
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: -100vw;
      top: 0vh;
      z-index: 100000;
      transition: 0.5s;
      
      
  }
  .navbar ul li{
      display: block;
      margin-bottom: 10%;
      position: relative;
      top: 35%;
      transform: translateY(-50%);
      
  }
  .navbar ul li a{
      font-size: 40px;
      font-weight: 700;
  }
  .navbar i{
      position: relative;
      left: 0%;
      margin-right: 5%;
      font-size: 45px;
      font-weight: 300;
      display: block;
  }
  #butoni{
      display: block;
      font-size: 50px;
      position: relative;
      left: 85vw;
      margin-top: 1vh;
      font-weight: 200;
  }
}
.diamond{
  height: 170px;
  position: relative;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
  width: 900px;
  transform: scale(0.6);
  margin-top: -50px;
  
}
@media(max-height:750px){
  .diamond{
      top: 45%;
  }
}
.diamond .diamon1{
  position: absolute;
}
.diamond .diamon2{
  display: block;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 660px;
  transform: rotateX(180deg);
}
.diamond .p1, .diamond .p2{
  position: absolute;
  font-size: 40px;
  color: white;
  z-index: 10;
}
.diamond .p1{
  left: 100px;
}
.diamond .p2{
  top: 50px;
  left: 350px;
}

.box{
  height: 480px;
  width: 1000px;
  position: relative;
  left: 50%;
  margin-bottom: 135px;
  overflow: hidden;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  background-position:50%;
  background-size: cover;
  background-repeat: no-repeat;
  
}
@media(max-width:1200px){
  .box{
    width: 75%;
  }
}
.store{
  background-image: linear-gradient(#1c1d25c9,#1c1d25c9),url('images/store.PNG');
}
.movie{
  background-image: linear-gradient(#1c1d25c9,#1c1d25c9),url('images/movie.PNG');
}
.brochure{
  background-image: linear-gradient(#1c1d25c9,#1c1d25c9),url('images/campus.PNG');
}
.interactica{
  background-image: linear-gradient(#1c1d25c9,#1c1d25c9),url('images/interactica.png');
}
.game{
  background-image: linear-gradient(#3a3e5e99, #9ea0b369),url('images/game.png');
}
.pixel50l{
  transform: translateX(calc(-50% - 20px));
}
.pixel50r{
  transform: translateX(calc(-50% + 20px));
}
@media(max-width:1000px){
  .box{
    width: 85%;
    height: 420px;
  }
  .pixel50l,.pixel50r{
    transform: translateX(-50%);
  }
}
@media(max-width:800px){
  .box{
    height: 350px;
  }
}
@media(max-width:600px){
  .box{
    height: 280px;
    margin-bottom: 70px;
  }
}
@media(max-width:450px){
  .box{
    height: 250px;
  }
}
.slidebox{
  background-image: linear-gradient(270deg,#235aa6,#101b3b);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.35s ease;
}
.detailsbox{
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg,#0e1833e7,#0f2542cc);
  transition: 0.35s ease-in;
}
.mainbox h1{
  font-family: 'League Spartan';
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.699);  
  font-size: 30px;
  color: white;
  display: inline-block;
}
.mainbox{
  width: fit-content;
  position: relative;
  top: 100%;
  left: 5%;
  opacity: 0;
  transition: 0.7s;
  z-index: 2;
}
.details{
  width: 70%;
  position: relative;
  top: 100%;
  left: 5%;
  color: white;
  opacity: 0;
  transition: 0.4s;
}
.mainbox h3{
  position: relative;
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.projects a{
  color: white;
  overflow:hidden;
  text-decoration: none;
}
.down{
  position: relative;
  top: -60px;
  transition: 0.3s ease-in-out;
}
.down2{
  position: relative;
  top: -60px;
  transition: 0.3s ease-in-out;
}
.recentprojects{
  overflow: hidden;
  display: inline-block;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
}
.mt-70{
  margin-top: 70px;
}
span.redd{
  font-family: 'Montserrat', sans-serif;
  color: red;
}

.details img{
  position: relative;
  left: -20px;
  top: 10px;
}
.details .image250{
  width: 200px;
  height: 50px;
}
.details .image{
  width: 120px;
  height: 50px;
}
.details .image2{
  width: 180px;
  height: 50px;
}
.mainbox h4{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 4px tomato;
  font-family: 'League Spartan';
  background-image: linear-gradient(45deg,rgb(239,56,55),rgb(240,100,73));
}
.scale{
  transform: scale(1.1);
}
@media(max-width:1000px){
  .mainbox{
    left: 3%;
  }
  .mainbox h1{
    font-size: 25px;
  }
  .mainbox h3{
    font-size: 16px;
    margin-bottom: 5px;
  }
  .mainbox h4{
    font-size: 15px;
    padding: 5px 8px 5px 8px;
  }
  .details{
    font-size: 13px;
  }
  .details .image250{
    width: 140px;
    height: 40px;
  }
  .details .image{
    width: 80px;
    height: 35px;
  }
}
@media(max-width:600px){
  .mainbox{
    left: 1%;
  }
  .mainbox h1{
    font-size: 17px;
  }
  .mainbox h3{
    font-size: 11px;
    margin-bottom: 0px;
  }
  .mainbox h4{
    font-size: 13px;
    padding: 3px 5px 3px 5px;
  }
  .details{
    font-size: 9px;
  }
  .details .image250{
    width: 100px;
    height: 25px;
  }
  .details .image{
    width: 60px;
    height: 25px;
  }
  .recentprojects{
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
}
.footer{
  background-color: rgba(28,29,37,255);
  overflow-y: hidden;
  height: 250px;
}
.centric{
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.flexing{
  display: inline-flex;
  width: 200px;
  justify-content: space-between;
  color: white;
}
.flexing h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.centric h3{
  font-size: 16px;
  font-weight: 300;
  color: white;
}
@media(max-width:450px){
  .centric h3{
    text-align: center;
    font-size: 12px;
  }
}
.inline {
  display: inline-block;
}
.Loggo{
  height: 50px;
  width: 70px;
  position: relative;
  left: 50%;
  margin-bottom: 15px;
  transform: translateX(-50%);
}
.centro{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footer a{
  color: white;
  text-decoration: none;
  overflow: hidden;
}
@media(max-width:550px){
  .about-item{
    margin-bottom: 25px;
  }
}
@media(max-width:400px){
  .about-header, .about-text, .about-flex{
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media(max-width:1100px){
  .about-you i{
    position: fixed;
    color: rgb(28,29,37);
    top: 35px;
    left: auto;
    right: 50px;
  }
}
@media(max-width:400px){
  .about-you i{
    right: 20px;
  }
}